<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jekeen.mdm.dao.RolesMapper">
  <resultMap id="BaseResultMap" type="com.jekeen.mdm.model.Roles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_name, group_id, role_id, role_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roles
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" parameterType="com.jekeen.mdm.model.Roles" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from roles
    where 1=1
    <if test="id != null and id != ''">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="groupName != null and groupName != ''">
     and  group_name = #{groupName,jdbcType=VARCHAR}
    </if>
    <if test="groupId != null and groupId != ''">
      and group_id = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="roleId != null and roleId != ''">
      and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="roleName != null and roleName != ''">
      and role_name = #{roleName,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from roles
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteSelective" parameterType="com.jekeen.mdm.model.Roles">
    delete from roles
    where 1=1
    <if test="id != null and id != ''">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="groupName != null and groupName != ''">
      and  group_name = #{groupName,jdbcType=VARCHAR}
    </if>
    <if test="groupId != null and groupId != ''">
      and group_id = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="roleId != null and roleId != ''">
      and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="roleName != null and roleName != ''">
      and role_name = #{roleName,jdbcType=VARCHAR}
    </if>
  </delete>
  <insert id="insert" parameterType="com.jekeen.mdm.model.Roles">
    insert into roles (id, group_name, group_id, 
      role_id, role_name)
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}, 
      #{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jekeen.mdm.model.Roles">
    insert into roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jekeen.mdm.model.Roles">
    update roles
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jekeen.mdm.model.Roles">
    update roles
    set group_name = #{groupName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>